<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>FONO CARTERA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
		<!-- CSS -->
		<link href="../../assets/css/landings/fonocartera.css" rel="stylesheet" />

		<!-- FUENTES WEB -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600,700" rel="stylesheet">
        <!-- <link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'> -->

		<!-- COMPATIBILIDAD CON BROWSER VIEJOS -->
        <script src="../../assets/js/vendor/modernizr-2.6.2.min.js"></script>



	</head>
	<body>
		<!-- <?php //$this->load->view('globales/mensajes'); ?> -->
		<div id="main-container">
			<div id="main-content">
				<h1 id="app-name-img">
					<img src="http://kka.to/kkatoo/assets/img/landings/fonocartera/nombre-app.png">
				</h1>
				<h2  id="app-slogan-img">Mantén al día tus cobros</h2>

				<div id="desc-container">
					<p>Gestiona tu cartera de manera sencilla, ágil y sin complicaciones usando nuestra fabulosa aplicación <span class="resaltado">FONO CARTERA.</span></p>
					<p>En 3 sencillos pasos suscribe a todos los clientes que tengan alguna mora y nuestro sistema los llamará a la hora y fecha que tú determines y con el mensaje que decidas.</p>
					<p>Lo mejor de todo: <span class="resaltado"> es muy rápido y económico.</span></p>	
				</div> <!-- desc-container -->
<!-- 
				<div id="video-container">
					<a class="video-link">
					<div class="text">Ver video de<br />demostración</div>
					<div class="img"><img src="../../assets/img/landings/fonocuentos-infantiles/ico-video-play.png" alt="Ver video"></div></a>
					<div id="video" style="display:none;">
						<iframe width="343" height="207" src="http://www.youtube.com/embed/H7MXxMzvzH8" frameborder="0" allowfullscreen></iframe> 
					</div>-->
 				<!-- </div> video-container -->

				<div id="susc-container">
					<a class="button" href="fonocartera.html"></a>
				</div> <!-- susc-container -->
		
				 <div id="footer">
					<div id="copyright">Una aplicación <a href="http://www.kkatoo.com">kkatoo </a></div>
				</div> 
			</div> <!-- main-content -->
		</div> <!-- main-container -->

	</body>
	</html>