* {
	box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
	display:table;
	margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
	background-color: #222;
	margin: 0;
	padding: 0;
	font-family: "Open sans", sans-serif;
	background: url(../../img/landings/fonocuentos-infantiles/bg-page.gif);

}



/*******************************************************************
** CONTENEDOR PRINCIPAL DE LA PAGINA *******************************/

#main-container {
	position: relative;
	display: table-cell;
    height: 100%;
    width: 100%;
    margin: 0;
   	vertical-align: middle;
}

#main-content {
	position: relative;
	border: 1px solid #222;/**/
	width: 1008px;
	height: 650px;
	overflow: none;
	background: url(../../img/landings/fonocuentos-infantiles/background-image.png) no-repeat;
	padding: 40px;
	margin: 0 auto;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px#000;
	box-shadow: 0 0 10px #000;
}




/*******************************************************************
** TITULO DE LA APLICACION ****************************************/

#main-content h1, #main-content h2  {
	font-family: "Bubblegum Sans", sans-serif;
	margin: -15px 0 0 0;
	padding: 0;
	/*border: 1px solid #000;*/

}

#main-content h2 {
	font-size: 24px;
	-webkit-text-stroke-color: #fff;
	-webkit-text-stroke-width: 0.5px;
	letter-spacing: -1px;
	color: #d98327;
}

#app-name-01 { /*fonocuentos*/
	font-size: 40px;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 1px;
	letter-spacing: -2px;
	color: #555;
	text-shadow: 0 0 10px #666 ;
}

#app-name-02 { /*infantiles*/
	font-size: 90px;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 2px;
	letter-spacing: -2px;	
	text-shadow:
   -2px -2px 0 #fff,  
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
     2px 2px 0 #fff;
   	text-shadow: 0 0 10px #666;/**/
}

.rojo { color: #cc4844; }
.naranja { color: #fea65c; }
.amllo { color: #ede277; }
.verde { color: #93ab4a; }
.cian { color: #649db0; }
.azul { color: #4857a4; }
.morado { color: #835c9b; }



/*******************************************************************
** DESCRIPCION DE LA APLICACION ***********************************/

#desc-container	{
	width: 311px;
	padding: 20px;
	background:rgb(255,255,255);
	border-radius: 5px;
}
#desc-container	p {
	font-size: 17px;
	font-style: italic;
	margin: 0 0 12px 0;
	padding: 0;
	line-height: 24px;
	font-weight: 400;
	color: #555;
}

.resaltado {
	font-weight: 700;
}

#video-container {
	margin-top: 10px;
	cursor: pointer;
}

#video-container .text {
	font-size: 14px;
	font-weight: 600;
	text-align: right;
	display: inline-block;
	width: 260px;
	line-height: 14px;
}

#video-container .img {
	display: inline-block;
	width: 41px;
	height: 29px;
	margin-left: 5px;
}

.video-link, .video-link:visited, .video-link:focus {
	text-decoration: none;
	color:#08e;
}


/*******************************************************************
** PAG.2 CAMPOS DINAMICOS Y PAGO  **********************************/

#extra-data-container {
	width: 465px;
	height: 430px;
	padding: 20px;
	overflow: auto;
	background:rgb(255,255,255);
	border-radius: 5px;
	font-size: 14px;
}

#extra-data-container p {
	margin: 0;
	padding: 0;
}

.subtitulo {
	font-size: 16px;
	font-weight: 600;
}

hr {
	border-top: 1px dotted #ddd;
	margin: 4px 0;
	width: 100%;
}

label {
	display:inline-block;
	width: 90px;
	margin: 0px 5px 0 0;
	text-align: right;
	line-height: 20px;
}

.dyn-label:after, label:after {
	content:': ';
}

.form-row, .form-row-dyn {
	margin: 10px 0;
	vertical-align: bottom;
}

input[type="text"], .dyn-combo-field {
	height: 30px;
	border: 1px solid #ddd;
	margin:0;
	line-height: 30px;
}

.txt-field, .combo-field {
	border: 1px solid #ddd;
	width: 300px;
	height: 30px;
	margin:0;
	line-height: 30px;
}


#consignacion_options {
	background-color: #ddd;
	padding: 15px;
	font-size: 14px;
	border-radius: 3px;
	margin: 10px;
}


/*******************************************************************
** PAG.3 PAGINA DE AGRADECIMIENTOS  ********************************/
#thanks-container {
	width: 440px;
	height: 240px;
	padding: 30px;
	overflow: none;
	background:rgb(255,255,255);
	border-radius: 5px;
	font-size: 14px;
	margin-top: 75px
}

#thanks-container p.title { 
	font-size: 24px;
	text-align: center;
}

#thanks-container p.subtitle { 
	font-size: 18px;
	text-align: center;
	color: #7d7d7d;
}


/*******************************************************************
** IMAGEN ADICIONAL DE LA APLICACION ******************************/

#img2-container {
	width: 410px;
	height: 382px;
	position: absolute;
	left: 598px;
	top: 266px;
}

/*******************************************************************
** SUSCRIPCION ****************************************************/

#susc-container {
	width: 256px;
	border-radius: 5px;
	background-color: #FFF;
	position: absolute;
	top: 500px;
	left: 355px;
}

button, input[type="submit"] {
	border: 0;
	border-radius: 3px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 18px;
	text-shadow: 0 1px 0px #740300;
	color: #FF0;
	background: #ff8c84; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff8c84 0%, #ff2b2b 0%, #aa0e00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8c84), color-stop(0%,#ff2b2b), color-stop(100%,#aa0e00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff8c84 0%,#ff2b2b 0%,#aa0e00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff8c84 0%,#ff2b2b 0%,#aa0e00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff8c84 0%,#ff2b2b 0%,#aa0e00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff8c84 0%,#ff2b2b 0%,#aa0e00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8c84', endColorstr='#aa0e00',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}

#indi-pais {
	height: 30px;
	width: 100px;
	border: 1px solid #ddd;
	font-family: "Open sans", sans-serif;
	padding: 3px;
	margin: 0px 0 0px 0px;
}

#phone {
	height: 30px;
	width: 140px;
	border: 1px solid #ddd;
	font-family: "Open sans", sans-serif;
	padding: 3px;
	margin: 0px 5px;
}

#email {
	height: 30px;
	width: 237px;
	border: 1px solid #ddd;
	font-family: "Open sans", sans-serif;
	padding: 3px;
	margin: 0px 0px;
	margin-bottom: 5px;
}



#susc-launch {
	height: 42px;
	width: 256px;
}

#susc-btn {
	height: 30px;
	width: 30px;
	margin: 0px 0px;
	padding: 0;
}

#susc-paypal {
	height: 40px;
	width: 300px;
	margin-left: 95px;
	margin-top: 10px;
}
#susc-consignacion {
	height: 40px;
	width: 300px;
	margin: 10px 30px 0;
}

#form-container {
	margin: 8px 8px;
}


/*******************************************************************
** VENTANA FLOTANTE DE CREDITOS DISPONIBLES*************************/

#available-kredits {
	position: absolute;
	left:550px;
	top:30px;
	width: 430px;
	height: 120px;
	border: 3px solid #FFF;
	border-radius: 5px;
	background-color:rgb(76,181,51);
	font-size: 24px;
	text-align: center;
	font-family: "Open Sans";
	padding: 20px;
	color:#000;
}