body {
	font-family: 'Open sans', sans-serif;
	font-size: 12px;
}
#voices-main-content {
	width: 50%;
	border: 1px solid #DDD;
	margin: 0 auto;
	padding: 0px;
	background: #EFEFEF;

}	
th {
	font-weight: bold;
	background-color: #666;
	text-align: center;
	font-size: 12px;
	color: #FFF;
	text-transform: uppercase;

}
tr {
	margin:0;
	padding: 0;
}
td {
	border: 1px solid #EEE;
	margin:0;
	padding: 5px;
	background-color: #FFF;
}
.center {
	text-align: center;
}